@font-face {
  font-family: 'RedHatDisplay-Regular';
  src: url('https://cdn.fullmoon.dev/fonts/redhatdisplay/RedHatDisplay-Regular.eot');
  src: url('https://cdn.fullmoon.dev/fonts/redhatdisplay/RedHatDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.fullmoon.dev/fonts/redhatdisplay/RedHatDisplay-Regular.woff2') format('woff2'),
      url('https://cdn.fullmoon.dev/fonts/redhatdisplay/RedHatDisplay-Regular.woff') format('woff'),
      url('https://cdn.fullmoon.dev/fonts/redhatdisplay/RedHatDisplay-Regular.ttf') format('truetype'),
      url('https://cdn.fullmoon.dev/fonts/redhatdisplay/RedHatDisplay-Regular.svg#RedHatDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Segoe UI", "RedHatDisplay-Regular", Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
}

@media (prefers-color-scheme: light) {
  p {
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  p {
    color: aliceblue;
  }
}